
@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=217c7138-110e-43a4-8678-a3e93c272b17");
    @font-face{
        font-family:"Neue Aachen W01_n3";
        src:url("Fonts/123d3678-8d7d-4c71-9bb7-28471fe1d843.eot?#iefix") format("eot")
    }
    @font-face{
        font-family:"Neue Aachen W01";
        src:url("Fonts/123d3678-8d7d-4c71-9bb7-28471fe1d843.eot?#iefix");
        src:url("Fonts/123d3678-8d7d-4c71-9bb7-28471fe1d843.eot?#iefix") format("eot"),url("Fonts/2e0eeff8-cf97-4045-bdd1-854f2e301d8e.woff2") format("woff2"),url("Fonts/da003df9-fe34-484b-906d-292127d2c3ca.woff") format("woff"),url("Fonts/748f6ce9-5351-4fce-b7cd-f9e81db27ce8.ttf") format("truetype"),url("Fonts/508de83a-8e08-4103-949a-a7473b50dbc1.svg#508de83a-8e08-4103-949a-a7473b50dbc1") format("svg");
font-weight: 300;
font-style: normal;
    }
    @font-face{
        font-family:"Neue Aachen W01_n4";
        src:url("Fonts/8a5c16c6-3dcc-41c9-928e-c6199fb3292c.eot?#iefix") format("eot")
    }
    @font-face{
        font-family:"Neue Aachen W01";
        src:url("Fonts/8a5c16c6-3dcc-41c9-928e-c6199fb3292c.eot?#iefix");
        src:url("Fonts/8a5c16c6-3dcc-41c9-928e-c6199fb3292c.eot?#iefix") format("eot"),url("Fonts/5640d063-4b35-48b6-b2f9-a4a38b181c72.woff2") format("woff2"),url("Fonts/f2facc80-cdc7-40f2-8e76-1310186951bb.woff") format("woff"),url("Fonts/b3d9c5d0-7e73-4d18-b254-93533e202282.ttf") format("truetype"),url("Fonts/3abdbf9a-08a5-43c6-b64d-11ce439a35aa.svg#3abdbf9a-08a5-43c6-b64d-11ce439a35aa") format("svg");
font-weight: 400;
font-style: normal;
    }
    @font-face{
        font-family:"Neue Aachen W01_n5";
        src:url("Fonts/bd6aca1d-9e6b-4ea8-8e61-6bcac2d9eba7.eot?#iefix") format("eot")
    }
    @font-face{
        font-family:"Neue Aachen W01";
        src:url("Fonts/bd6aca1d-9e6b-4ea8-8e61-6bcac2d9eba7.eot?#iefix");
        src:url("Fonts/bd6aca1d-9e6b-4ea8-8e61-6bcac2d9eba7.eot?#iefix") format("eot"),url("Fonts/85d27fdf-a2c4-493c-ad46-6186498e8908.woff2") format("woff2"),url("Fonts/647c253f-17d8-4b65-9a90-881f6a05d3f6.woff") format("woff"),url("Fonts/240fa56c-b275-4aa1-b8bf-076632badad7.ttf") format("truetype"),url("Fonts/083246d0-8b8a-4460-bff8-26d468336bea.svg#083246d0-8b8a-4460-bff8-26d468336bea") format("svg");
font-weight: 500;
font-style: normal;
    }
