/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */
/* ==========================================================================
  Imports
   ========================================================================== */

@import "inc/bootstrap/bootstrap.scss";
@import "inc/bootstrap/font-awesome.min.css";
@import "inc/helpers.scss";
@import "inc/variables.scss";
@import "inc/forms.scss";
@import "inc/imports.scss";
@import "inc/images.scss";
@import "inc/_yamm.scss";
@import "inc/fonts.scss";

#presentation, #consultas, footer {
  position: relative;
  z-index: 3;
  @include media-breakpoint-up(md){

  }
}
#presentation {
  @include media-breakpoint-down(md){
    margin-top: 342px;
  }
}
.fullheight.fixed {
  position: fixed !important;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
}

html {
    color: $mid-gray;
    font-size: 100%;
    line-height: 1.4;
    @include media-breakpoint-down(md){
    }
}
body {
  //font-size: 0.95em;
}
a {
  color: $dark-gray;
  &:hover {
    text-decoration: none;
  }
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}
main {
    @include media-breakpoint-down(md){
      padding-top: 57px;
    }
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */




.home .image-box .caption h3 {
  @include media-breakpoint-down(sm){
    text-shadow: none;
  }
}










/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

.tr {
  @include media-breakpoint-down(sm){
      height: 80px;
      overflow: hidden;
      -webkit-transition: all 500ms;
   -moz-transition: all 500ms;
   -o-transition: all 500ms;
   transition: all 500ms;
    &.abierto {
      height: 180px;
    }
  }
}



.small {
  .close-icon {
    position: absolute;
    right: 21px;
    top: 20px;
    font-size: 43px;
    color: #cecece;
  }
  .weight-select {
    border-radius: 0;
    border:1px solid #dedede !important;
    height: 40px;
    font-size: 16px;
    padding:5px 8px;
    background: white !important;
  }
  .showkg {
    display: none;
    padding-top: 5px;
  }
  .showkg.onekg {
    display: block;
  }
  .qty {
    border:1px solid #dedede !important;
    height: 40px !important;
    padding: 5px 8px;
    font-size: 16px;
    text-align: left !important;
    width: 50px !important;
  }
  .kgq {
    font-size: 18px;
    padding-top: 10px;
  }
  .added_to_cart {
    display: none !important;
  }
  label.price-select {
      position: absolute;
      left: -45px;
      top: 12px;
      font-size: 13px !important;
  }
    .cart .button.btn {
      border-radius: 0px 15px 0px 15px !important;
      padding: 0.3em 0.8em !important;

  }
}



.added_to_cart {
   @include media-breakpoint-down(sm){
      display:none;
   }
}
.td, .kg {
  float: left;
  //margin-right: 10px;
}
.td {
  &.small {
    @include media-breakpoint-between(md, lg) {
      float: right;
    }
  }
    height: 110px;
  @include media-breakpoint-down(sm){
    height: 80px;
  }
  &.imagen {
    width: 150px;
    height: auto;
    @include media-breakpoint-down(sm){
      width: 100px;
    }
    img{
      width: 100% !important;
      height: auto !important;
      margin-top: -10px;
      @include media-breakpoint-up(md){
      margin-top: -30px;
      }
    }
  }
  &.title{
    width: 200px;
    font-weight: 300 !important;
    @include media-breakpoint-down(sm){
      width: 50%;
      padding-top: 20px;
    }
    .vertical-center {
      &.labeled{
        h3 {
          margin-top: 0px;
        }
      }
      h3 {
        margin-top: -30px;
      }
    }
  }
  &.weight {
    width: 360px;
  }
  &.quantity {
    width: 175px;
    text-align: right;
    form {
      //float:right;
    }
  }
  h3 {
    font-size: 20px !important;
    color: #4A4A4A;
    font-weight: 500;
    margin:0 0 1px 0;
    padding:0;
    text-transform: uppercase;
    @include media-breakpoint-down(sm){
      font-size: 17px !important;
    }
  }
}
.kg {
  max-width: 50px;
  text-align: center;
  margin-right: 30px;

  h5 {
    font-size: 14px !important;
    color: #4A4A4A;
    letter-spacing: 0;
    font-weight: 500;
    margin:0 0 10px 0;
    padding: 0;
    small{
      font-size: 13px;
    }
  }

}
.cart-count {
  font-size: 12px;
      color: $primary;
      background: #fff;
      border: 2px solid $primary;
      font-weight: bold;
      padding: 0px 4px;
      border-radius: 0 4px 0 4px;
      position: absolute;
      right: -12px;
      top: -4px;
      line-height: 12px;
}

.yamm-fw {
  background: none;
  li {
    cursor: pointer;
  }
}
.cart_totals {
  padding:20px;
  h2 {
    font-size: 24px !important;
  }
}
.woocommerce a.button.alt {
  background: $warning !important;
  text-transform: uppercase;
  border-radius: 0 6px 0 6px !important;
  text-align: right;
}

.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button {
  font-family: "Open Sans",sans-serif;
  font-size: 0.8em;
  border-radius: 0 8px 0 8px;
    color: #fff;
    background-color: #F5A623 !important;
    border-color: #F5A623 !important;
    display: inline-block;
    font-weight: normal;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: .5rem 1rem;
    transition: all 0.2s ease-in-out;
    text-transform: uppercase;
    &:hover{
      color: #fff;
    background-color: #db8c0a;
    border-color: #d1860a;
    }
}
.cart_totals .wc-proceed-to-checkout a.checkout-button.button.alt {
  font-size: 0.9rem !important;
  color:#fff !important;
  background: $primary !important;
  border-radius: 0 8px 0 8px !important;
  text-align: center !important;
  &:hover {
    background: $primary-hover !important;
    color:#fff !important;
  }
}


.yamm-fw .dropdown-menu {
    background-color: transparent !important;
    border: none !important;
    padding: 0 !important;
    margin:0 !important;
    border-radius: 0 12px 0 12px !important;
  }
  .cart_totals {
    background: #fff;
    border: 1px solid #d4d4d4;
    margin-top: -10px;
    border-radius: 0 12px 0 12px !important;
    a {
      color: #333 !important;
      cursor:pointer !important;
    }
    a:hover {
      color: $default !important;
      background: none;
    }
}
.menu-drop {

}
.col2-set {
  .col1, .col2 {
    width: 50%;
  }
}
.woocommerce form .form-row label {
  margin-bottom: 0;
  padding-bottom: 0;
  margin-top:10px;
}
.woocommerce-order-details__title {
  font-size: 1.5em !important;
}
/* ==========================================================================
   HEADER
   ========================================================================== */
header {
  #top-navbar {
    a {
      color: white;
      font-size: 0.8em;
      &:hover {
        color:$primary;
      }
    }
  }
  #main-navbar {
    &.scrolltop{
      //top: 32px;
    }
    height: 90px;
    background: transparent;
    background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
    a{
      font-size: 14px;
      color:white;
      padding-left: 1em;
      &:hover{
        color: $default;
      }
    }


    .nav-item {
      padding-top: 25px;
    }


  }

}
.single, .page:not(.page-template-contacto) {
    #main-navbar {
      &.scrolltop{
        background: transparent;
        background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%);
        background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
        background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
        a{
          font-size: 14px;
          color:white;
          padding-left: 1em;
          &:hover{
            color: $default;
          }
        }

      }
      background: none;
      a {
        color: $primary;
      }
    }
}
.wpml-ls-flag {
  margin-top: -10px;
}
.form.register  {
  padding-top: 0;
}
#smallnav {
  h3 {
    font-size: 1.3rem;
    padding: 0 1rem;
  }
  h4 {
    font-size: 1rem;
    font-style: italic;
    padding: 0 1rem;
    margin-bottom: 2px;
  }
  .nav-link{
    padding: 0.5rem 1em;
    border-bottom: 1px solid #d4d4d4;
    font-size: 0.8rem;
    text-transform: uppercase;
  }

}
.head-icon {
  height: 25px  !important;
}
/* ==========================================================================
   CONTENT
   ========================================================================== */
   #main-container {
     //padding-top: 32px;
   }
/* ==========================================================================
HOME
======================================================= */

/*#main-image {
  .image-cover {
    text-align: center;
    vertical-align: center;
    img {
      min-width: 100% !important;
      height: 100%;
      margin: 0 auto;
      width: auto !important;
    }
  }
  &.mid {
      .image-cover {
    img {
      width: 100% !important;
      min-height: 100%;
      margin: 0 auto;
      height:auto !important;
    }
  }
}
}*/

.image-box {
  position: relative;
  @include media-breakpoint-up(md){
    height: 465px;
  }
  overflow: hidden;
  border-radius: 0 15px 0 15px;
  .image-cover {
    z-index: 0;
      @include media-breakpoint-down(sm){
        height: 200px;
      }

  }
  .caption  {
    text-align: left;
    @include media-breakpoint-up(md){
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      padding:40px 30px 20px;
      background: -moz-linear-gradient(bottom, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%);
      background: -webkit-linear-gradient(bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
      background: linear-gradient(to top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
    }
    @include media-breakpoint-down(sm){
      margin-top: -20px;
    }
    h3 {
      margin-bottom: 10px;
      text-shadow: 2px 2px 10px #000000;
      @include media-breakpoint-down(sm){
        background: $primary;
        padding: 5px 10px;
        border-radius: 0 12px 0 12px;
        display: inline-table;
      }

    }
    p {
      font-size: 14px;
      line-height: 19px;
    }
  }
}
#empresa {
  .image-box {
    .image-cover {
      //background-image: url('../img/calidad-hojas-verdes.jpg');
      background-position: center center;
    }
  }
  @include media-breakpoint-down(md){
    margin-bottom: 30px;
  }
}
#calidad {
  .image-box {
    .image-cover {
      //background-image: url('../img/calidad-hojas-verdes.jpg');
      background-position: center center;

    }
  }
}
#online {
  .image-box {
    .image-cover {
      //background-image: url('../img/online-hojas-verdes.jpg');
      background-position: center center;

    }
  }
}
#home-slide {
  position: relative;
  width: 100%;
  .slogan {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    text-align: center;
    z-index: 2;
    @include media-breakpoint-down(sm){
      width: 70%;
      margin: 0 auto;
    }
  }
}
/* ==========================================================================
BOXES
========================================================================== */
.box {
  position: relative;
  overflow: hidden;
  &.product {
    height: auto;
  }

  @include media-breakpoint-down(md){
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .label {
    color: #fff;
    font-size: 11px;
    padding: 2px 6px;
    border-radius: 0 6px 0 6px;
    position: absolute;
    top: 0px;
    left: 0px;
    font-weight: 400;
    text-transform:uppercase;
    z-index: 1;
  }

  .inner {
    border: 1px solid rgba(155,155,155,0.40);
    overflow: hidden;
    position:relative;
    height: 250px;
    .image {
      height: 150px;
      margin-top: 10px;
      @include media-breakpoint-up(sm){
      margin-top: 30px;
      }
      overflow: hidden;
      position: relative;
      text-align: center
    }
    img{
      height: 150px;
      width: 150px;
      //width: auto;
    }
  }
  .caption {
    h4 {
      color: #4A4A4A;
      text-align: center;
      padding: 10px 20px 20px;
      font-size: 18px;
    }
  }
}
.product .inner {
  border-left: none;
  border-right: none;
  border-top: none;
  height: auto;
  padding:20px;
  @include media-breakpoint-down(sm){
    padding:5px 5px 5px 0px;
  }
  .image{
    margin-top: 0;
    height: 70px;
    padding-top: 20px;
  }
}
.logged.product .inner {
  padding:20px 20px 0;
  @include media-breakpoint-down(sm){
    padding:5px 5px 5px 0px;
  }
}
/* ==========================================================================
SINGLE
========================================================================== */
.single {
  #main-content {
    h3 {
      color: #229FDF;
      text-transform: inherit;
    }
  }

}

/* ==========================================================================
slider sizes
========================================================================== */
  #main-image, #home-slide {
    height: 400px;
    position: relative;
    overflow: hidden;
    .item-slide, .image-cover img  {
      height: 400px;
    }
    @include media-breakpoint-up(sm){
      height:400px;
      .item-slide, .image-cover img  {
        height: 400px;
      }
    }
    @include media-breakpoint-up(md){
      //height: 800px;
      .image-cover img  {
        height: 100%;
      }

      &.mid {
        height: 600px;
        .item-slide, .image-cover img {
          height: 600px;
        }

      }
      &.small {
        height: 300px;
        .item-slide, .image-cover img {
          height: 300px;
        }
      }
    }
}
.row.tab-boxes.list{
  @include media-breakpoint-down(sm){
    margin-right: -8px;
    margin-left: -8px;
    .col-6.box.mb-3 {
        padding-right: 8px;
        padding-left: 8px;
        margin-bottom: 8px !important;
      }
    }
}
/* ==========================================================================
main-image
========================================================================== */
  #main-image {
    .caption {
      position: absolute;
      bottom:20px;
      padding:10px 10px 10px 10px;
      background: #fff;
      overflow: hidden;
      @include media-breakpoint-up(md){
        left: 0;
        padding:20px;
        max-width: 60%;
      }
      @include media-breakpoint-down(sm){
        padding-left: 10px !important;
      }
      H1{
        padding: 0;
        margin:0;
        text-shadow: 2px 2px 10px #000000;
      }
      H5 {
        text-align: left;
        font-size: 0.7em;
        @include media-breakpoint-up(sm){
          font-size: 1em;
        }
        padding: 0;
        margin:0;
        color: $primary;
      }
    }
}

.single {
  img {
    max-width: 100%;
  }
  #main-image {
    //text-align: center;
    overflow: hidden;
    position: relative;
  }
}


/* ==========================================================================
PAGE
========================================================================== */

.page {
  img {
    max-width: 100%;
  }
  #main-image {
    text-align: center;
    overflow: hidden;
    position: relative;
    img {
      //min-width: 100%;
      //height: 600px;
    }
  }
}

/* ==========================================================================
GALLERY
========================================================================== */

.owl-carousel{
		height: 300px;
	}
  .owl-nav > div {
        @include media-breakpoint-up(md){
        position: absolute;
        top: 50%;
        margin-top: -30px;
        width: 30px;
        height: 30px;
        color: #fff;
        text-indent: 99999;
        font-size: 0;
        &:before {
          font-size: 30px;
          font-family: FontAwesome;
         font-weight: normal;
         font-style: normal;
         display: inline-block;
         text-decoration: inherit;
         text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
       }
        }
  }
  .owl-nav .owl-prev {
    left: 5px;
    &:before {
      content: "\f053";
    }
  }
  .owl-nav .owl-next {
    right: 5px;
    &:before {
      content: "\f054";
    }
  }

	.gallery-img {
		height: 300px !important;
		width: auto !important;
	}
  /* ==========================================================================
  TAXONOMIES
  ========================================================================== */
.archive, .page, .search, .error404 {
  #main-image {
    position: relative;
    width: 100%;
    overflow: hidden;
    .caption {
      text-align: center;
      position: absolute;
      width: 100%;
      top:50%;
      margin-top: -75px;
      height: 150px;
      bottom: 0;
      padding-bottom: 20px;
      background: none;
      left: 0;
      right: 0;
      color:#fff;
      max-width: 100%;
      h1 {
        font-weight: 400;
      }
    }
  }
  .navbar-tax {
    a {
      font-size: 0.9rem;
    }
  }
  .tax-head {
    .col.active .title{
        color: $primary !important;
    }
    .title{
        font-family: $font-famyly-1;
        font-size: 14px;
        @include media-breakpoint-up(md){
          font-size: 16px;
        }
        color: #575757;
        line-height: 38px;
        text-align: center;
    }
  }
}
.icon {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  text-align: center;
}
.icon.busqueda {
  background:url('../img/icons/busqueda.svg') center center no-repeat;
}
.search-results .icon.busqueda {
    background:url('../img/icons/busqueda_active.svg') center center no-repeat;
}
.icon.especias {
  background:url('../img/icons/especias.svg') center center no-repeat;
}
.col.active .icon.especias {
    background:url('../img/icons/especias_active.svg') center center no-repeat;
}
.icon.condimentos   {
  background:url('../img/icons/condimentos.svg') center center no-repeat;
}
.col.active .icon.condimentos {
    background:url('../img/icons/condimentos_active.svg') center center no-repeat;
}
.icon.deshidratados   {
  background:url('../img/icons/deshidratados.svg') center center no-repeat;
}
.col.active .icon.deshidratados {
    background:url('../img/icons/deshidratados_active.svg') center center no-repeat;
}
.icon.frutos-secos   {
  background:url('../img/icons/frutos-secos.svg') center center no-repeat;
}
.col.active .icon.frutos-secos  {
    background:url('../img/icons/frutos-secos_active.svg') center center no-repeat;
}
.icon.semillas   {
  background:url('../img/icons/semillas.svg') center center no-repeat;
}
.col.active .icon.semillas  {
    background:url('../img/icons/semillas_active.svg') center center no-repeat;
}
.icon.varios   {
  background:url('../img/icons/varios.svg') center center no-repeat;
}
.col.active .icon.varios {
    background:url('../img/icons/varios_active.svg') center center no-repeat;
}
.woocommerce-cart main .row.cart_totals {
  display: none !important;
}
/* ==========================================================================
SIDEBAR
========================================================================== */

.sidebar {
  h3 {
    font-size: 1.5em;
    text-transform: inherit;
  }
  .group {
    p {
      margin-bottom: 0.5rem;
      font-size: 0.9em;
    }
  }
  .perfil {
    max-width: 180px;
  }
}

/* ==========================================================================
MAPS
========================================================================== */
.acf-map {
	border: #ccc solid 1px;
}

/* fixes potential theme css conflict */
.acf-map img {
   max-width: inherit !important;
}

/* ==========================================================================
BTN
========================================================================== */
.btn {
  font-family: $font-famyly-2;
  font-size: 0.8em;
  border-radius: 0 8px 0 8px;
}
.btn.list  {
  font-size: 1.2em;
}
.btn.map {
  font-size: 1.2em;
}
.btn-round {
  border-radius: 30px;
}
.tab.active .btn {
  background: $primary;
  color: #fff;
}

.event {
  font-size: 12px;
  color: #fff;
  margin-bottom: 3px;
  display: inline-block;
  padding: 2px 5px;
}

/* ==========================================================================
footer
========================================================================== */

footer {
  .datos {
    font-size: 0.9rem;
  }
  h4 {
    font-family: $font-famyly-1;
    font-size: 18px;
    color: #fff;
    font-weight: 300;
    border-bottom: 1px solid #fff;
    padding-bottom: 3px;
    margin-bottom: 20px;
  }
  .nav {
    a{
      color:#fff;
      padding:3px 0 3px 0;
      font-size: 0.8em;
    }
  }
}

/* ==========================================================================
ICONS
========================================================================== */

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?6lgkms');
  src:  url('../fonts/icomoon.eot?6lgkms#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?6lgkms') format('truetype'),
    url('../fonts/icomoon.woff?6lgkms') format('woff'),
    url('../fonts/icomoon.svg?6lgkms#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-list:before {
  content: "\e903";
 }
.icon-map:before {
  content: "\e900";
}
.icon-map:before {
  content: "\e900";
}
.icon-compass:before {
  content: "\e906";
}
.icon-info:before {
  content: "\e907";
}
.icon-weather:before {
  content: "\e908";
}


.small-navbar {
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  //padding: 0px;
  height: 80px;
  z-index: 10;
  background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%);
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
  .container {
    position: relative;
  }
  .brand {
    position: absolute;
    left: 20px;
    top: 10px;
  }
  .button-off {
    position: absolute;
    right: 30px;
    top: 20px;
  }
}


// woocommerce
span.counter {
  position: absolute;
  right: -5px;
  top: -4px;
  font-size: 9px;
  color: #fff;
  text-align: center;
  background: red;
  padding: 3px 4px 3px 4px;
  font-weight: bold;
  border-radius: 100%;
  width: 19px;
  height: 19px;
}
.woocommerce form.checkout_coupon, .woocommerce form.login, .woocommerce form.register {
  border:none;
}
.register .woocommerce-FormRow {
  display: none;
}
.woocommerce button.button {
  background: $warning !important;
  border-radius: 0px 6px 0px 6px !important;
  color: #fff !important;
  padding: 0.45em 1em;
}
.input-text.qty.text {
  border-top:none;
  border-bottom: 1px solid #d4d4d4;
  border-right:none;
  border-left:none;
  margin-right: 5px;
  height: 30px;
}
.woocommerce-MyAccount-navigation-link--downloads {
  display: none;
}
.owl-item {
    float: left;
    width: 115px !important;
  }

.owl-carousel{
		height: 88px;
	}
  .owl-stage-outer {
    width: 100%;
  }
  .owl-nav > div {
  display: none;
  }
  .owl-nav .owl-prev {
    display: none;
  }
  .owl-nav .owl-next {
    display: none;

  }
  .carousel-tax {
    @include media-breakpoint-up(md){
    display: flex;
    flex-wrap: wrap;
    margin-left: 15px;
    margin-right: 15px;
    }
    width: 100%;
    height: 88px;
    overflow: hidden;
      @include media-breakpoint-down(md){
      .col {
        width: 120px !important;
      }
    }
  }
#ajax-load-more {
  width: 100%;
}
  .alm-reveal {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
  }
#contact-form {
  .alert{
    display: none;
  }
}
.modal.show .modal-dialog {
    transform: translate(0, -45%) !important;
    top: 45%;
}
.woocommerce-MyAccount-content fieldset {
  margin-top: 30px;
}
.woocommerce form .form-row-first, .woocommerce form .form-row-last, .woocommerce-page form .form-row-first, .woocommerce-page form .form-row-last {
    @include media-breakpoint-down(md){
      width: 100%;
    }
}
@media (max-width: 330px) {
  .iphone {
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }
}


.zoom {
  display:inline-block;
  position: relative;
}
/* magnifying glass icon */
.zoom:after {
  content:'';
  display:block;
  //width:33px;
  //height:33px;
  position:absolute;
  top:0;
  right:0;
  //background:url(icon.png);
}
.zoom img {
  display: block;
}
.zoom img::selection { background-color: transparent; }
.single form .quantity {
  float: left;
}
.badge {
  font-family: $font-famyly-2;
  border-radius: 0 12px 0 12px;
  padding: 2px 6px 4px;
  vertical-align: middle;
  margin-top: -4px;
}
