@import 'variables';

.btn {
	border:none;
	border-radius:$btn-lg-radius;
		-webkit-transition: all 1s;
						 -moz-transition: all 0.5s;
						 -o-transition: all 0.5s;
						 transition: all 0.5s;
		&:hover {
			-webkit-transition: all 0.5s;
						 -moz-transition: all 0.5s;
						 -o-transition: all 0.5s;
						 transition: all 0.5s;

		}
}

.btn-primary {
	background: $primary;
	&:hover, &:focus {
	 	background: $primary_hover !important;
	}
}
.btn-default {
	background: $default;
	&:hover {
	 	background: $default_hover;
	}
	&:focus {
	 	background: $default_hover !important;
	}
	&:active {
	 	background: $default_hover !important;
	}
}
.btn-success {
	background: $success;
	&:hover {
	 	background: $success_hover;
	}
	&:focus {
	 	background: $success_hover !important;
	}
	&:active {
	 	background: $success_hover !important;
	}
}
.btn-info {
	background: $info;
	&:hover{
	 	background: $info_hover;
	}
	&:focus {
	 	background: $info_hover !important;
	}
	&:active {
	 	background: $info_hover !important;
	}
}
.btn-warning {
	background: $warning;
	&:hover {
	 	background: $warning_hover;
	}
	&:focus {
	 	background: $warning_hover !important;
	}
}
.btn-danger {
	background: $danger;
	&:hover {
	 	background: $danger_hover;
	}
	&:focus  {
	 	background: $danger_hover;
	}
}
.btn-line {
	border-width: 1px;
	border-style: solid;
	background: none;
	font-family: $font-famyly-3;
}
.btn-line.btn-primary {
	border-color: $primary;
	color:$primary;
	&:hover{
		background: $primary;
		color:white;
	}
}
.btn-line.btn-default {
	border-color: $white;
	color:$white;
	&:hover{
		background: $white;
		color:$primary;
	}
}
.btn-social {
	a {
		color: #fff;
		&:hover {
		color: #fff;
		}
	}
	width: 35px;
	height: 35px;
	padding: 5px 0 !important;
	text-align: center;
	color: #fff;
	margin: 0 5px;
}