@import "variables.scss";

label {
  font-weight: 300;
  font-size: 14px;
}

.form-control, .input-text {
  width: 100%;
    color: #999;
    padding: 6px 0;
    background-color: transparent;
    background-image: none;
    border-bottom: 2px solid #d7d6d8;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    -webkit-transition: all 200ms ease-out 200ms;
    -moz-transition: all 200ms ease-out 200ms;
    -o-transition: all 200ms ease-out 200ms;
    transition: all 200ms ease-out 200ms;
}

.form-control:focus {
    border-color: $primary;
    outline: 0;
    color: $primary;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: transparent;

}

.form-control:focus::-webkit-input-placeholder {
    color: #998675;
}

.form-control::-moz-placeholder {
    color: #999;
    opacity: 1;
}

.form-control:focus::-moz-placeholder {
    color: #f63;
}

.form-control:-ms-input-placeholder {
    color: #999;
}

.form-control:focus:-ms-input-placeholder {
    color: #f63;
}

.form-control::-webkit-input-placeholder {
    color: #999;
}

.form-control::-ms-expand {
    background-color: transparent;
    border: 0;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
    background-color: #eee;
    opacity: 1;
}

.form-control[disabled],
fieldset[disabled] .form-control {
    cursor: not-allowed;
}

textarea.form-control {
    height: auto;
}

.bootstrap-select {
	.btn {
		  color: #999;
    padding: 6px 0;
    background-color: #fff;
    background-image: none;
    border-bottom: 2px solid #d7d6d8;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    -webkit-transition: all 200ms ease-out 200ms;
    -moz-transition: all 200ms ease-out 200ms;
    -o-transition: all 200ms ease-out 200ms;
    transition: all 200ms ease-out 200ms;
	}
}
.input-group-addon {
		  color: #999;
    padding: 6px 0;
    background-color: #fff;
    background-image: none;
    border-bottom: 2px solid #d7d6d8;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    -webkit-transition: all 200ms ease-out 200ms;
    -moz-transition: all 200ms ease-out 200ms;
    -o-transition: all 200ms ease-out 200ms;
    transition: all 200ms ease-out 200ms;
}
