@import "bootstrap/bootstrap.scss";
@import "variables.scss";

$pixel: 10px;
//GRILLAS

/*.w-100 {
  width: 100% !important;
}
.h-100 {
  height: 100% !important;

}

.m-x-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}

.m-a-0 {
  margin: 0 0 !important;
}

.m-t-0 {
  margin-top: 0 !important;
}

.m-r-0 {
  margin-right: 0 !important;
}

.m-b-0 {
  margin-bottom: 0 !important;
}

.m-l-0 {
  margin-left: 0 !important;
}

.m-x-0 {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.m-y-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.m-a-1 {
  margin: $pixel !important;
}

.m-t-1 {
  margin-top: $pixel !important;
}

.m-r-1 {
  margin-right: $pixel !important;
}

.m-b-1 {
  margin-bottom: $pixel !important;
}

.m-l-1 {
  margin-left: $pixel !important;
}

.m-x-1 {
  margin-right: $pixel !important;
  margin-left: $pixel !important;
}

.m-y-1 {
  margin-top: $pixel !important;
  margin-bottom: $pixel !important;
}

.m-a-2 {
  margin: $pixel*2 $pixel*2 !important;
}

.m-t-2 {
  margin-top: $pixel*2 !important;
}

.m-r-2 {
  margin-right: $pixel*2 !important;
}

.m-b-2 {
  margin-bottom: $pixel*2 !important;
}

.m-l-2 {
  margin-left: $pixel*2 !important;
}

.m-x-2 {
  margin-right: $pixel*2 !important;
  margin-left: $pixel*2 !important;
}

.m-y-2 {
  margin-top: $pixel*2 !important;
  margin-bottom: $pixel*2 !important;
}

.m-a-3 {
  margin: $pixel*3 $pixel*3 !important;
}

.m-t-3 {
  margin-top: $pixel*3 !important;
}

.m-r-3 {
  margin-right: $pixel*3 !important;
}

.m-b-3 {
  margin-bottom: $pixel*3 !important;
}

.m-l-3 {
  margin-left: $pixel*3 !important;
}

.m-x-3 {
  margin-right: $pixel*3 !important;
  margin-left: $pixel*3 !important;
}

.m-y-3 {
  margin-top: $pixel*3 !important;
  margin-bottom: $pixel*3 !important;
}

.p-a-0 {
  padding: 0 0 !important;
}

.p-t-0 {
  padding-top: 0 !important;
}

.p-r-0 {
  padding-right: 0 !important;
}

.p-b-0 {
  padding-bottom: 0 !important;
}

.p-l-0 {
  padding-left: 0 !important;
}

.p-x-0 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.p-y-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.p-a-1 {
  padding: $pixel $pixel !important;
}

.p-t-1 {
  padding-top: $pixel !important;
}

.p-r-1 {
  padding-right: $pixel !important;
}

.p-b-1 {
  padding-bottom: $pixel !important;
}

.p-l-1 {
  padding-left: $pixel !important;
}

.p-x-1 {
  padding-right: $pixel !important;
  padding-left: $pixel !important;
}

.p-y-1 {
  padding-top: $pixel !important;
  padding-bottom: $pixel !important;
}

.p-a-2 {
  padding: $pixel*2 $pixel*2 !important;
}

.p-t-2 {
  padding-top: $pixel*2 !important;
}

.p-r-2 {
  padding-right: $pixel*2 !important;
}

.p-b-2 {
  padding-bottom: $pixel*2 !important;
}

.p-l-2 {
  padding-left: $pixel*2 !important;
}

.p-x-2 {
  padding-right: $pixel*2 !important;
  padding-left: $pixel*2 !important;
}

.p-y-2 {
  padding-top: $pixel*2 !important;
  padding-bottom: $pixel*2 !important;
}

.p-a-3 {
  padding: $pixel*3 $pixel*3 !important;
}

.p-t-3 {
  padding-top: $pixel*3 !important;
}

.p-r-3 {
  padding-right: $pixel*3 !important;
}

.p-b-3 {
  padding-bottom: $pixel*3 !important;
}

.p-l-3 {
  padding-left: $pixel*3 !important;
}

.p-x-3 {
  padding-right: $pixel*3 !important;
  padding-left: $pixel*3 !important;
}

.p-y-3 {
  padding-top: $pixel*3 !important;
  padding-bottom: $pixel*3 !important;
}



@media (max-width: $screen-xs-max) {

	.m-x-auto-xs {
	  margin-right: auto !important;
	  margin-left: auto !important;
	}

	.m-a-0-xs {
	  margin: 0 0 !important;
	}

	.m-t-0-xs {
	  margin-top: 0 !important;
	}

	.m-r-0-xs {
	  margin-right: 0 !important;
	}

	.m-b-0-xs {
	  margin-bottom: 0 !important;
	}

	.m-l-0-xs {
	  margin-left: 0 !important;
	}

	.m-x-0-xs {
	  margin-right: 0 !important;
	  margin-left: 0 !important;
	}

	.m-y-0-xs {
	  margin-top: 0 !important;
	  margin-bottom: 0 !important;
	}

	.m-a-1-xs {
	  margin: $pixel !important;
	}

	.m-t-1-xs {
	  margin-top: $pixel !important;
	}

	.m-r-1-xs {
	  margin-right: $pixel !important;
	}

	.m-b-1-xs {
	  margin-bottom: $pixel !important;
	}

	.m-l-1-xs {
	  margin-left: $pixel !important;
	}

	.m-x-1-xs {
	  margin-right: $pixel !important;
	  margin-left: $pixel !important;
	}

	.m-y-1-xs {
	  margin-top: $pixel !important;
	  margin-bottom: $pixel !important;
	}

	.m-a-2-xs {
	  margin: $pixel*2 $pixel*2 !important;
	}

	.m-t-2-xs {
	  margin-top: $pixel*2 !important;
	}

	.m-r-2-xs {
	  margin-right: $pixel*2 !important;
	}

	.m-b-2-xs {
	  margin-bottom: $pixel*2 !important;
	}

	.m-l-2-xs {
	  margin-left: $pixel*2 !important;
	}

	.m-x-2-xs {
	  margin-right: $pixel*2 !important;
	  margin-left: $pixel*2 !important;
	}

	.m-y-2-xs {
	  margin-top: $pixel*2 !important;
	  margin-bottom: $pixel*2 !important;
	}

	.m-a-3-xs {
	  margin: $pixel*3 $pixel*3 !important;
	}

	.m-t-3-xs {
	  margin-top: $pixel*3 !important;
	}

	.m-r-3-xs {
	  margin-right: $pixel*3 !important;
	}

	.m-b-3-xs {
	  margin-bottom: $pixel*3 !important;
	}

	.m-l-3-xs {
	  margin-left: $pixel*3 !important;
	}

	.m-x-3-xs {
	  margin-right: $pixel*3 !important;
	  margin-left: $pixel*3 !important;
	}

	.m-y-3-xs {
	  margin-top: $pixel*3 !important;
	  margin-bottom: $pixel*3 !important;
	}

	.p-a-0-xs {
	  padding: 0 0 !important;
	}

	.p-t-0-xs {
	  padding-top: 0 !important;
	}

	.p-r-0-xs {
	  padding-right: 0 !important;
	}

	.p-b-0-xs {
	  padding-bottom: 0 !important;
	}

	.p-l-0-xs {
	  padding-left: 0 !important;
	}

	.p-x-0-xs {
	  padding-right: 0 !important;
	  padding-left: 0 !important;
	}

	.p-y-0-xs {
	  padding-top: 0 !important;
	  padding-bottom: 0 !important;
	}

	.p-a-1-xs {
	  padding: $pixel $pixel !important;
	}

	.p-t-1-xs {
	  padding-top: $pixel !important;
	}

	.p-r-1-xs {
	  padding-right: $pixel !important;
	}

	.p-b-1-xs {
	  padding-bottom: $pixel !important;
	}

	.p-l-1-xs {
	  padding-left: $pixel !important;
	}

	.p-x-1-xs {
	  padding-right: $pixel !important;
	  padding-left: $pixel !important;
	}

	.p-y-1-xs {
	  padding-top: $pixel !important;
	  padding-bottom: $pixel !important;
	}

	.p-a-2-xs {
	  padding: $pixel*2 $pixel*2 !important;
	}

	.p-t-2-xs {
	  padding-top: $pixel*2 !important;
	}

	.p-r-2-xs {
	  padding-right: $pixel*2 !important;
	}

	.p-b-2-xs {
	  padding-bottom: $pixel*2 !important;
	}

	.p-l-2-xs {
	  padding-left: $pixel*2 !important;
	}

	.p-x-2-xs {
	  padding-right: $pixel*2 !important;
	  padding-left: $pixel*2 !important;
	}

	.p-y-2-xs {
	  padding-top: $pixel*2 !important;
	  padding-bottom: $pixel*2 !important;
	}

	.p-a-3-xs {
	  padding: $pixel*3 $pixel*3 !important;
	}

	.p-t-3-xs {
	  padding-top: $pixel*3 !important;
	}

	.p-r-3-xs {
	  padding-right: $pixel*3 !important;
	}

	.p-b-3-xs {
	  padding-bottom: $pixel*3 !important;
	}

	.p-l-3-xs {
	  padding-left: $pixel*3 !important;
	}

	.p-x-3-xs {
	  padding-right: $pixel*3 !important;
	  padding-left: $pixel*3 !important;
	}

	.p-y-3-xs {
	  padding-top: $pixel*3 !important;
	  padding-bottom: $pixel*3 !important;
	}

}
@media (max-width: $screen-sm-max) {
	.m-x-auto-sm {
	  margin-right: auto !important;
	  margin-left: auto !important;
	}
	.m-a-0-sm {
	  margin: 0 0 !important;
	}

	.m-t-0-sm {
	  margin-top: 0 !important;
	}

	.m-r-0-sm {
	  margin-right: 0 !important;
	}

	.m-b-0-sm {
	  margin-bottom: 0 !important;
	}

	.m-l-0-sm {
	  margin-left: 0 !important;
	}

	.m-x-0-sm {
	  margin-right: 0 !important;
	  margin-left: 0 !important;
	}

	.m-y-0-sm {
	  margin-top: 0 !important;
	  margin-bottom: 0 !important;
	}

	.m-a-1-sm {
	  margin: $pixel !important;
	}

	.m-t-1-sm {
	  margin-top: $pixel !important;
	}

	.m-r-1-sm {
	  margin-right: $pixel !important;
	}

	.m-b-1-sm {
	  margin-bottom: $pixel !important;
	}

	.m-l-1-sm {
	  margin-left: $pixel !important;
	}

	.m-x-1-sm {
	  margin-right: $pixel !important;
	  margin-left: $pixel !important;
	}

	.m-y-1-sm {
	  margin-top: $pixel !important;
	  margin-bottom: $pixel !important;
	}

	.m-a-2-sm {
	  margin: $pixel*2 $pixel*2 !important;
	}

	.m-t-2-sm {
	  margin-top: $pixel*2 !important;
	}

	.m-r-2-sm {
	  margin-right: $pixel*2 !important;
	}

	.m-b-2-sm {
	  margin-bottom: $pixel*2 !important;
	}

	.m-l-2-sm {
	  margin-left: $pixel*2 !important;
	}

	.m-x-2-sm {
	  margin-right: $pixel*2 !important;
	  margin-left: $pixel*2 !important;
	}

	.m-y-2-sm {
	  margin-top: $pixel*2 !important;
	  margin-bottom: $pixel*2 !important;
	}

	.m-a-3-sm {
	  margin: $pixel*3 $pixel*3 !important;
	}

	.m-t-3-sm {
	  margin-top: $pixel*3 !important;
	}

	.m-r-3-sm {
	  margin-right: $pixel*3 !important;
	}

	.m-b-3-sm {
	  margin-bottom: $pixel*3 !important;
	}

	.m-l-3-sm {
	  margin-left: $pixel*3 !important;
	}

	.m-x-3-sm {
	  margin-right: $pixel*3 !important;
	  margin-left: $pixel*3 !important;
	}

	.m-y-3-sm {
	  margin-top: $pixel*3 !important;
	  margin-bottom: $pixel*3 !important;
	}

	.p-a-0-sm {
	  padding: 0 0 !important;
	}

	.p-t-0-sm {
	  padding-top: 0 !important;
	}

	.p-r-0-sm {
	  padding-right: 0 !important;
	}

	.p-b-0-sm {
	  padding-bottom: 0 !important;
	}

	.p-l-0-sm {
	  padding-left: 0 !important;
	}

	.p-x-0-sm {
	  padding-right: 0 !important;
	  padding-left: 0 !important;
	}

	.p-y-0-sm {
	  padding-top: 0 !important;
	  padding-bottom: 0 !important;
	}

	.p-a-1-sm {
	  padding: $pixel $pixel !important;
	}

	.p-t-1-sm {
	  padding-top: $pixel !important;
	}

	.p-r-1-sm {
	  padding-right: $pixel !important;
	}

	.p-b-1-sm {
	  padding-bottom: $pixel !important;
	}

	.p-l-1-sm {
	  padding-left: $pixel !important;
	}

	.p-x-1-sm {
	  padding-right: $pixel !important;
	  padding-left: $pixel !important;
	}

	.p-y-1-sm {
	  padding-top: $pixel !important;
	  padding-bottom: $pixel !important;
	}

	.p-a-2-sm {
	  padding: $pixel*2 $pixel*2 !important;
	}

	.p-t-2-sm {
	  padding-top: $pixel*2 !important;
	}

	.p-r-2-sm {
	  padding-right: $pixel*2 !important;
	}

	.p-b-2-sm {
	  padding-bottom: $pixel*2 !important;
	}

	.p-l-2-sm {
	  padding-left: $pixel*2 !important;
	}

	.p-x-2-sm {
	  padding-right: $pixel*2 !important;
	  padding-left: $pixel*2 !important;
	}

	.p-y-2-sm {
	  padding-top: $pixel*2 !important;
	  padding-bottom: $pixel*2 !important;
	}

	.p-a-3-sm {
	  padding: $pixel*3 $pixel*3 !important;
	}

	.p-t-3-sm {
	  padding-top: $pixel*3 !important;
	}

	.p-r-3-sm {
	  padding-right: $pixel*3 !important;
	}

	.p-b-3-sm {
	  padding-bottom: $pixel*3 !important;
	}

	.p-l-3-sm {
	  padding-left: $pixel*3 !important;
	}

	.p-x-3-sm {
	  padding-right: $pixel*3 !important;
	  padding-left: $pixel*3 !important;
	}

	.p-y-3-sm {
	  padding-top: $pixel*3 !important;
	  padding-bottom: $pixel*3 !important;
	}

}
@media (max-width: $screen-md-max) {
	.m-x-auto-md {
	  margin-right: auto !important;
	  margin-left: auto !important;
	}
	.m-a-0-md {
	  margin: 0 0 !important;
	}

	.m-t-0-md {
	  margin-top: 0 !important;
	}

	.m-r-0-md {
	  margin-right: 0 !important;
	}

	.m-b-0-md {
	  margin-bottom: 0 !important;
	}

	.m-l-0-md {
	  margin-left: 0 !important;
	}

	.m-x-0-md {
	  margin-right: 0 !important;
	  margin-left: 0 !important;
	}

	.m-y-0-md {
	  margin-top: 0 !important;
	  margin-bottom: 0 !important;
	}

	.m-a-1-md {
	  margin: $pixel !important;
	}

	.m-t-1-md {
	  margin-top: $pixel !important;
	}

	.m-r-1-md {
	  margin-right: $pixel !important;
	}

	.m-b-1-md {
	  margin-bottom: $pixel !important;
	}

	.m-l-1-md {
	  margin-left: $pixel !important;
	}

	.m-x-1-md {
	  margin-right: $pixel !important;
	  margin-left: $pixel !important;
	}

	.m-y-1-md {
	  margin-top: $pixel !important;
	  margin-bottom: $pixel !important;
	}

	.m-a-2-md {
	  margin: $pixel*2 $pixel*2 !important;
	}

	.m-t-2-md {
	  margin-top: $pixel*2 !important;
	}

	.m-r-2-md {
	  margin-right: $pixel*2 !important;
	}

	.m-b-2-md {
	  margin-bottom: $pixel*2 !important;
	}

	.m-l-2-md {
	  margin-left: $pixel*2 !important;
	}

	.m-x-2-md {
	  margin-right: $pixel*2 !important;
	  margin-left: $pixel*2 !important;
	}

	.m-y-2-md {
	  margin-top: $pixel*2 !important;
	  margin-bottom: $pixel*2 !important;
	}

	.m-a-3-md {
	  margin: $pixel*3 $pixel*3 !important;
	}

	.m-t-3-md {
	  margin-top: $pixel*3 !important;
	}

	.m-r-3-md {
	  margin-right: $pixel*3 !important;
	}

	.m-b-3-md {
	  margin-bottom: $pixel*3 !important;
	}

	.m-l-3-md {
	  margin-left: $pixel*3 !important;
	}

	.m-x-3-md {
	  margin-right: $pixel*3 !important;
	  margin-left: $pixel*3 !important;
	}

	.m-y-3-md {
	  margin-top: $pixel*3 !important;
	  margin-bottom: $pixel*3 !important;
	}

	.p-a-0-md {
	  padding: 0 0 !important;
	}

	.p-t-0-md {
	  padding-top: 0 !important;
	}

	.p-r-0-md {
	  padding-right: 0 !important;
	}

	.p-b-0-md {
	  padding-bottom: 0 !important;
	}

	.p-l-0-md {
	  padding-left: 0 !important;
	}

	.p-x-0-md {
	  padding-right: 0 !important;
	  padding-left: 0 !important;
	}

	.p-y-0-md {
	  padding-top: 0 !important;
	  padding-bottom: 0 !important;
	}

	.p-a-1-md {
	  padding: $pixel $pixel !important;
	}

	.p-t-1-md {
	  padding-top: $pixel !important;
	}

	.p-r-1-md {
	  padding-right: $pixel !important;
	}

	.p-b-1-md {
	  padding-bottom: $pixel !important;
	}

	.p-l-1-md {
	  padding-left: $pixel !important;
	}

	.p-x-1-md {
	  padding-right: $pixel !important;
	  padding-left: $pixel !important;
	}

	.p-y-1-md {
	  padding-top: $pixel !important;
	  padding-bottom: $pixel !important;
	}

	.p-a-2-md {
	  padding: $pixel*2 $pixel*2 !important;
	}

	.p-t-2-md {
	  padding-top: $pixel*2 !important;
	}

	.p-r-2-md {
	  padding-right: $pixel*2 !important;
	}

	.p-b-2-md {
	  padding-bottom: $pixel*2 !important;
	}

	.p-l-2-md {
	  padding-left: $pixel*2 !important;
	}

	.p-x-2-md {
	  padding-right: $pixel*2 !important;
	  padding-left: $pixel*2 !important;
	}

	.p-y-2-md {
	  padding-top: $pixel*2 !important;
	  padding-bottom: $pixel*2 !important;
	}

	.p-a-3-md {
	  padding: $pixel*3 $pixel*3 !important;
	}

	.p-t-3-md {
	  padding-top: $pixel*3 !important;
	}

	.p-r-3-md {
	  padding-right: $pixel*3 !important;
	}

	.p-b-3-md {
	  padding-bottom: $pixel*3 !important;
	}

	.p-l-3-md {
	  padding-left: $pixel*3 !important;
	}

	.p-x-3-md {
	  padding-right: $pixel*3 !important;
	  padding-left: $pixel*3 !important;
	}

	.p-y-3-md {
	  padding-top: $pixel*3 !important;
	  padding-bottom: $pixel*3 !important;
	}

}








.pos-f-t {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
*/
//BACKGROUNDS COLOR
.bg-primary-light {
	background-color: $primary-light !important;
}
.bg-primary {
	background-color: $primary !important;
}
.bg-default {
	background-color: $default !important;
}
.bg-danger {
	background-color: $danger !important;
}
.bg-success {
	background-color: $success !important;
}
.bg-info {
	background-color: $info !important;
}
.bg-warning {
	background-color: $warning !important;
}
.bg-dark-gray {
	background-color: $dark-gray !important;
}
.bg-light-gray {
	background-color: $light-gray !important;
}
.bg-white {
	background-color: $white !important;
}
.bg-black {
	background-color: $black !important;
}

//TEXTS COLOR

.txt-primary {
	color: $primary !important;
}
.txt-default {
	color: $default !important;
}
.txt-danger {
	color: $danger !important;
}
.txt-success {
	color: $success !important;
}
.txt-info {
	color: $info !important;
}
.txt-warning {
	color: $warning !important;
}
.txt-dark-gray {
	color: $dark-gray !important;
}
.txt-mid-gray {
	color: $mid-gray !important;
}
.txt-light-gray {
	color: $light-gray !important;
}
.txt-white {
	color: $white !important;
}
.txt-black {
	color: $black !important;
}

//position
.relative {
	position: relative;
}
.absolute {
	position: absolute;
}
.fixed {
	position: fixed;
}
.center {
	margin: 0 auto;
	left: 0;
	right: 0;
	text-align: center;
}
// IMAGES
.image-cover {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	height: 100%;
	width: 100%;
}

//
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.vertical-center {
	position: absolute;
		top: 50%;
		transform: translateY(-50%);
}
.horizontal-center {
	position: absolute;
		left: 50%;
		transform: translateX(-50%);
}
.row.equal-col {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
}
.row.equal-col > [class*='col-'] {
  display: flex;
  flex-direction: column;
}
.img-full {
	position: absolute;
	-ms-transform: translate(-50%, -50%); /* IE 9 */
  -webkit-transform: translate(-50%, -50%); /* Safari */
  transform: translate(-50%,-50%);
	top:50%;
	left: 50%;
	width: auto!important;
	height: 100% !important;
	min-width: 100% !important;
	max-width: inherit !important;
	@include media-breakpoint-up(md){
		height: auto !important;
		min-height: 100% !important;
	}
}

/*
.pull-right-not-xs, .pull-right-not-sm, .pull-right-not-md, .pull-right-not-lg {
    float: right;
}

.pull-left-not-xs, .pull-left-not-sm, .pull-left-not-md, .pull-left-not-lg{
    float: left;
}
@media (max-width: 767px) {
    .pull-right-not-xs, .pull-left-not-xs{
        float: none;
    }
    .pull-right-xs {
        float: right;
    }
    .pull-left-xs {
        float: left;
    }
}
@media (min-width: 768px) {
    .pull-right-not-sm, .pull-left-not-sm{
        float: none;
    }
    .pull-right-sm {
        float: right;
    }
    .pull-left-sm {
        float: left;
    }
}
@media (min-width: 992px) {
    .pull-right-not-md, .pull-left-not-md{
        float: none;
    }
    .pull-right-md {
        float: right;
    }
    .pull-left-md {
        float: left;
    }
}
@media (min-width: 1200px) {
    .pull-right-not-lg, .pull-left-not-lg{
        float: none;
    }
    .pull-right-lg {
        float: right;
    }
    .pull-left-lg {
        float: left;
    }
}
/*
 * Row with equal height columns
 * --------------------------------------------------
 */
