@font-face{
        font-family:"Quotes";
        src:url("../fonts/a57784f5-f99f-4a15-9ba3-b8d5dcd339bf.eot?#iefix");
        src:url("../fonts/a57784f5-f99f-4a15-9ba3-b8d5dcd339bf.eot?#iefix") format("eot"),url("../fonts/928b726f-a0fb-44c3-83dd-60bbd1450951.woff2") format("woff2"),url("../fonts/f4f9462b-5a71-41cf-a62c-e42be627dca3.woff") format("woff"),url("../fonts//dc9c5e15-6add-45c4-9413-753fb0b15702.ttf") format("truetype"),url("../fonts/da15e262-0980-409d-ba5a-0033c6199d10.svg#da15e262-0980-409d-ba5a-0033c6199d10") format("svg");
    }
