//FUENTES
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

// GRILLA VERTICAL
$pixel: 10px;

// COLORES
$primary: #a01127;
$primary-light:#F6C26D;
$ligh: #FF6633;
$default: #F1A234;
$success: #518C51;
$info: #4862AF;
$warning: #F1A234;
$danger: #C5422C;
$white : #FFFFFF;
$black: #000;
$dark-gray: #4A4A4A;
$mid-gray: #9B9B9B;
$light-gray: #D8D8D8;



$brand-primary:             $primary !default;
$brand-success:             $success !default;
$brand-info:                $info !default;
$brand-warning:             $warning !default;
$brand-danger:              $danger !default;
$brand-inverse:             $dark-gray !default;

//fonts
$font-famyly-1: 'Neue Aachen W01', serif !important;
$font-famyly-2: 'Open Sans', sans-serif;

//FONT SIZES
$h1: 3em !important;
$h1-md: 2.5em !important;
$h1-xs: 2em !important;

$h2: 2.4em !important;
$h2-md: 2em !important;
$h2-xs: 1.8em !important;

$h3: 2em;
$h3-md: 1.8em;
$h3-xs: 1.6em;

$h4: 18px;
$h4-md: 16px;
$h4-xs: 16px;

$h5: 18px;
$h5-md: 18px;
$h5-xs: 0.8rem !important;



//BOTONES
$btn-lg-radius: 0 6px 0 6px;
$btn-md-radius:  0 6px 0 6px;
$btn-sm-radius:  0 6px 0 6px;
$btn-xs-radius:  0 6px 0 6px;

$primary-hover: darken($primary, 20%);
$default-hover: darken($default, 20%);
$success-hover: darken($success, 20%);
$info-hover: darken($info, 20%);
$warning-hover: darken($warning, 20%);
$danger-hover: darken($danger, 20%);



//BOOSTRAP
//$container-xl: 1350px;
//$container-lg: 1080px;

//TRANSITIONS
$time-transition: 0.5s;
.link-transitions {
	-webkit-transition: background-color $time-transition ease-out;
    -moz-transition: background-color $time-transition ease-out;
    -o-transition: background-color $time-transition ease-out;
    transition: background-color $time-transition ease-out;
}
