@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");.link-transitions{-webkit-transition:background-color .5s ease-out;-moz-transition:background-color .5s ease-out;-o-transition:background-color .5s ease-out;transition:background-color .5s ease-out}
